unidad_1/ejemplos2

unidad_2/ejemplos2

unidad_1/ejemplos/semana-4/modulo-kernel/infocuatro.c
unidad_1/ejemplos/semana-4/modulo-kernel/infotres.c
unidad_1/ejemplos/semana-4/modulo-kernel/pruebamem.c
cua.proto

venv
__pycache__

.env
.env.local
.env.example

ejemplos/otros
# ejemplos/semana-3
ejemplos/semana-4
ejemplos/semana-5
ejemplos/semana-6
ejemplos/semana-7
ejemplos/semana-8
ejemplos/semana-9
ejemplos/semana-10s
ejemplos/semana-10.5
ejemplos/semana-11
ejemplos/semana-12
ejemplos/semana-13
ejemplos/semana-14
